<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shkj.slave.mapper.AutUserMapper">
 

    <!-- 查询白名单全部信息 -->
    <select id="getAutUserList" resultType="com.shkj.bean.AutUser">
        select * from aut_user
    </select>

    <select id="getAutUserById" resultType="com.shkj.bean.AutUser" parameterType="String">
        select * from aut_user where hail_openid=#{openId}
    </select>
</mapper>