<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shkj.mapper.WhiteUserMapper">
 
    <resultMap id="BaseResultMap" type="com.shkj.bean.WhiteUser">
        <result column="user_id" jdbcType="VARCHAR" property="userNo" />
    </resultMap>
 
    <select id="getUser" resultType="com.shkj.bean.WhiteUser" resultMap="BaseResultMap">
        select user_id from userfunc_user where user_id='boss'
    </select>
 
</mapper>